/* 
  Use border-box 
*/ 

/* https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */

html {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

/*
  Remove default margins applied by UA agent 
*/

* {
  margin: 0;
}


/**/

html, body {
  /* 100vh has issues on mobile browsers where the address bar collapses when scrolling and the vh unit changes, so sticking with old percentage trick, until the new units have more coverage https://caniuse.com/viewport-unit-variants */
  min-height: 100%;
}



body {
  @apply overflow-x-hidden min-h-screen m-0 p-0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
figcaption {
  max-width: var(--measure);
}


table {
  @apply w-full;
}

@media (--from-medium-viewport) 
pre,
.table-wrapper {
  overflow-x: auto;
}
